<!DOCTYPE html>
<html lang="en">
    <head><link rel="stylesheet" href="../static/Design.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HangmanWEB</title>
    </head>
    <body id="page2_jeuxpage">

        <audio autoplay>
            <source src="..\static\music\TF2_song.mp3" type="audio/mpeg"> 
        </audio>
        
        <ul class="page2_navbar">
            <li><a href="Index.html" data-hover="Accueil">Accueil</a></li>
            <li><a href="contact.html" data-hover="Nous Contacter">Nous Contacter</a></li>
        </ul>
        <main class="page2_content">
            <div id="page2_section1" class="page2_box">Info sur le jeux</div>
            <div id="page2_section2" class="page2_box">Nommbre de guess</div>
            <div id="page2_section3" class="page2_box">Pendu vision</div>
            <div id="page2_section4" class="page2_box">Mot a deviner</div>
        </main>
    
        <!-- Pied de page -->
        <footer class="page2_footer">
            <p>© 2024 Anis Raphael Constance- Tous droits réservés- Hangman Web.</p>
        </footer>
    </body>
</html>